---
title:  "Attaching Labels to Nodes"
layout: section
---



<p>Enquanto os matemáticos podem estar perfeitamente satisfeitos em considerar grafos apenas de acordo com seus formatos, a maioria dos programadores e cientistas da computação tendem a usá-los para calcular algum tipo de resultado útil.</p>

<p>Tendo isso em vista, geralmente é útil rotular os vértices de um grafo de alguma maneira. Por exemplo aqui na graciosa cidade de Portland, Oregon, <strong>nós amamos <a href="http://trimet.org/">transporte público</a>.</strong> Nós temos <a href="http://trimet.org/bus/index.htm">ônibus</a>, <a href="http://trimet.org/max/index.htm">trens</a>, <a href="http://trimet.org/wes/index.htm">metrôs</a>, <a href="http://trimet.org/streetcar/index.htm">bondes</a>, e até um <a href="http://www.gobytram.org">teleférico</a>.</p>

<p>Essa é um mapa do nosso sistema de trens. Isso não mostra todas as paradas—quero dizer, <em>vértices</em>—são apenas os pontos de conexão e as estações finais de cada linha. Os vértices têm rótulos que fazem com que tenham significado para humanos, mas para um computador poderiam simplesmente se chamar "01100010".</p>

<div class="wp-caption">
  <img src="/think-like-a-git-dot-net-pt-br/assets/images2/max-system-map.gif" class="no-shadow" />
  <br /><strong>Metrôs de Portland's light rail: a visão de 10.000 metros de altura</strong>
</div>

<p>...e se, agora, você está começando a abrir a boca e dizendo, "ei, por que essas linhas têm cores diferentes?" Então você, meu amigo, está na "pista" certa. (Sem trocadilhos.)</p>
