---
title:  "Attaching Labels to Edges"
layout: section
---



<p>Do mesmo jeito que nós podemos rotular os vértices de um grafo, nós podemos anexar informações às arestas. Isso pode incluir:</p>

<ul class="full-size">
  <li><strong>Nomes</strong>—por exemplo, "12th Avenue".</li>
  <li><strong>Números (também chamados de "pesos")</strong>—como distâncias ou velocidades.</li>
  <li><strong>Tipos</strong>—para indicar relacionamentos, como "amigo" ou "colega" ou "pai de".</li>
  <li><strong>Direção</strong>—no exemplo anterior, relacionamentos como "amigo" e "colega" são bidirecionais, mas "pai de" só tem uma direção <em>(a não ser, possivelmente, que você seja um personagem num romance de Robert A. Heinlein)</em>.</li>
</ul>

<div class="wp-caption">
  <img src="/think-like-a-git-dot-net-pt-br/assets/images2/social_network.jpg" class="no-shadow" />
  <br /><strong>Uma rede social. Rápido, alguém me dê $50 milhões para investir!</strong>
</div>

<p>Na verdade, a última observação sobre direcionalidade é tão importante que merece sua própria página.</p>
