---
title:  "Directed Versus Undirected Graphs"
layout: section
---



<div class="fl wp-caption pad-right">
  <img src="/think-like-a-git-dot-net-pt-br/assets/images2/undirected-graph.png" class="no-shadow" />
  <br /><strong>Grafo não-direcionado</strong> <br /><em>(sem setas)</em>
</div>

<p>Uma das distinções que as pessoas fazem sobre grafos é se eles são <strong>direcionados</strong> ou <strong>não-direcionados</strong>. Eu vou admitir que quando eu vejo a frase "grafo não-direcionado", eu às vezes imagino um mapa de sistema de metrô sentado no sofa enquando os pais dele perguntam quando ele vai ter responsabilidade e <em>fazer alguma coisa</em> da vida...</p>

<div class="fr wp-caption pad-left">
  <img src="/think-like-a-git-dot-net-pt-br/assets/images2/directed-graph.png" class="no-shadow" />
  <br /><strong>Grafo direcionado</strong> <br /><em>(observe as setas)</em>
</div>

<p>...mas isso é coisa minha. No fundo, <strong>tudo que estamos dizendo é se as arestas no grafo são bidirecionais ou não.</strong></p>

<p>A maioria, mas não todos, os grafos que eu vi tem apenas um tipo de aresta. Existem alguns poucos casos em que você pode querer usar ambos—por exemplo, um mapa de ruas pode ter arestas não-direcionadas para ruas de mão dupla e arestas direcionadas para ruas de mão única—mas esse é o único exemplo que eu consigo pensar agora.</p>
