---
title:  "Nodes and Edges"
layout: section
---



<p>Na página anterior, eu disse que a teoria dos grafos se resume a <strong>lugares para ir, e formas de chegar até lá.</strong> Vamos dar uma outra olhada na definição que eu usei mais cedo.</p>

<blockquote>
  <p>Um grafo se refere a uma coleção de <strong>vértices</strong> e uma coleção de <strong>arestas</strong> que conectam pares de vértices.</p>
</blockquote>

<p>
  <strong>Vértices:</strong> Lugares para ir <br /> <strong>Arestas:</strong> Formas de chegar lá
</p>

<p>No exemplo de Königsberg, as massas de terra e as ilhas são vértices, e as pontes são arestas.</p>

<%= partial( 'sections/konigsberg-map-and-graph' ) %>
