---
title:  "Places To Go, and Ways to Get There"
layout: section
---



<p>Aqui estão duas versões do mapa de Königsberg. Na esquerda há uma versão menor do mapa que você já viu, e na direita é a versão que Euler usou na sua prova de teorema em 1735.</p>

<%= partial( 'sections/konigsberg-map-and-graph' ) %>

<p>Isso que eu acho que é tão fantasticamente legal sobre isso: <strong>o Euler jogou fora toda a informação que não interessava ao problema.</strong>  </p>

<div class="fr pad-left"><img src="/think-like-a-git-dot-net-pt-br/assets/images2/whoa.png" class="no-shadow" /></div>

<p>Se tudo que te interessa é quais pontes você atravessa, então para todos os propósitos <strong>cada massa de terra pode ser representada por um ponto</strong>, e <strong>cada ponte é apenas uma linha entre dois pontos</strong>.</p>

<p>E é por isso que você pode dizer que teoria dos grafos é o estudo de <strong>lugares para ir, e formas de chegar lá.</strong></p>

