---
title:  "Reachability"
layout: section
---



<p><strong>Você pode ver este grafo como um conjunto de três universos paralelos</strong> com o tempo fluindo da esquerda para a direita, de forma que <strong>A</strong> é o início da história registrada. <em>(A seta representa o relacionamento "segue" ou "é posterior a", então você pode dizer que "B segue A".)</em></p>

<div class="fl wp-caption pad-right">
  <img src="/think-like-a-git-dot-net-pt-br/assets/images2/reachability-example.png" class="no-shadow" />
  <br />Para ver uma versão ASCII deste grafo, digite <br /><code class="inline">git rebase --help</code>
</div>

<p>Se você começar de <strong>E</strong>, a história que você verá é <strong>A,&nbsp;B,&nbsp;C,&nbsp;D,&nbsp;E</strong>.</p>

<p>Se você começar de <strong>H</strong>, a história que você verá é <strong>A,&nbsp;B,&nbsp;F,&nbsp;G,&nbsp;H</strong>.</p>

<p>Se você começar de <strong>K</strong>, a história que você verá é <strong>A,&nbsp;B,&nbsp;C,&nbsp;I,&nbsp;J,&nbsp;K</strong>.</p>

<p>Mas o mais importante sobre isso é que não importa de qual vértice você comece, <strong>algumas partes do grafo não serão alcançáveis por você.</strong></p>

<p>Isso soa pessimista, então eu vou dizer de outro jeito: <strong>Dependendo de onde você começar, você pode alcançar partes do grafo que você não alcançaria de outra maneira.</strong></p>

<p>Isso pode não parecer muito, mas continue comigo mais um pouco—é grande.</p>
