---
title:  "Seven Bridges of Königsberg"
layout: section
---



<p>Esse é um desenho da cidade de Königsberg, Prússia no começo do século 18.</p>

<div class="wp-caption">
  <img src="/think-like-a-git-dot-net-pt-br/assets/images2/bridges_of_konigsberg.jpg" class="no-shadow" />
  <br /><strong>Um belo lugar para uma caminhada...</strong>
</div>

<p>A cidade estava construída nas duas margens do rio Pregel <em>(mostrado em azul)</em>, e incluía duas grandes ilhas que estavam conectadas uma à outra e ao continente por sete pontes <em>(mostradas em vermelho)</em>. Alguém propôs a questão de que se era possível caminhar pela cidade e <strong>atravessar cada ponte exatamente uma vez</strong>.</p>

<p>Em 1735, um matemático chamado <a href="http://en.wikipedia.org/wiki/Leonhard_Euler">Leonhard Euler</a> provou que tal caminhada não poderia existir. Ao fazer isso, ele basicamente inventou um campo da matemática, que nós agora chamamos de teoria dos grafos.</p>

<p><em>("Euler" se pronuncia mais ou menos como "óiler", por sinal.)</em></p>
