---
title: "Making Sense of the Display"
layout: section
---

<p>Essa é outro visão da captura de tela do GitX, com algumas anotações.</p>

<div class="wp-caption">
  <img src="/think-like-a-git-dot-net-pt-br/assets/images2/gitx-visualization-annotated.png" class="no-shadow" />
  <br /><strong>Se você quer um repositório de exemplo para brincar, <a href="https://github.com/geeksam/do-re-mi">clone este aqui</a>.</strong>
</div>

<p>A coisa importante disso tudo, porém, não é o que você está vendo aqui. É o que você <strong>não</strong> está vendo. Toda ferramenta Git que eu já vi tem isso em comum: <strong>elas escondem commits de você</strong>.</p>

<p>Parece uma teoria da conspiração, né? Nem tanto.</p>
