--- title: "Referências" layout: section ---

<p>Talvez você tenha percebido os rótulos <em>bem coloridos</em> na captura de tela do GitX na página anterior. (Se não, volte e dê outra olhada. Eu espero.) Esses rótulos são o jeito que o GitX usa  para mostrar <strong>referências</strong>.</p>

<p>Eu não quero gastar muito tempo falando o que cada cor significa, porque essa representaão em particular é específica do GitX e você pode estar usando algum outro programa. Independente de como seu visualizador os represente, você precisa saber como ele faz. <em>(Can I get a drumroll, please?)</em></p>

<p><strong>References are pointers to commits.</strong></p>

<p>References come in several flavors:  <strong>local branch,</strong> <strong>remote branch,</strong> and <strong>tag.</strong></p>

<p>On disk, a <em><strong>local branch reference</strong></em> consists entirely of a file in your project's .git/refs/heads directory.  This file contains the 40-byte identifier of the commit that the reference points to... and that's it.  <strong>The entire file is 40 bytes.</strong></p>

<p>You might have heard people talk about how Git allows "cheap branching."  This is (part of) what they mean.  Creating a branch in Git just means writing 40 bytes to disk, which is why <code class="inline">git branch foo</code> is so freaking fast.</p>

<p>What's <em><strong>really</strong></em> interesting about references, though, is how they behave.  So, let's move on.</p>
