---
title: "References"
layout: section
---

<p>Talvez você tenha percebido os rótulos <em>bem coloridos</em> na captura de tela do GitX na página anterior. (Se não, volte e dê outra olhada. Eu espero.) Esses rótulos são o jeito que o GitX usa  para mostrar <strong>referências</strong>.</p>

<p>Eu não quero gastar muito tempo falando o que cada cor significa, porque essa representação em particular é específica do GitX e você pode estar usando algum outro programa. Independente de como seu visualizador os represente, você precisa saber o que elas significam. <em>(Que rufem os tambores!)</em></p>

<p><strong>Referências são ponteiros para commits.</strong></p>

<p>Referências vêm em vários sabores: <strong>branch local</strong>, <strong>branch remoto</strong>, e <strong>tag</strong>.</p>

<p>No disco, uma <em><strong>referência de branch local</strong></em> consiste simplesmente em um arquivo no diretório .git/refs/heads do seu projeto. Este arquivo contém o identificador de 40 bytes do commit para o qual a referência aponta... e só. <strong>O arquivo inteiro tem 40 bytes.</strong></p>

<p>Você pode ter ouvido falar sobre como o Git permite "branching barato". Isso é (parte do) que eles querem dizer.  Criar um branch no Git significa apenas escrever 40 bytes para o disco, e é por isso que <code class="inline">git branch foo</code> é tão rápido.</p>

<p>O que é <em><strong>realmente</strong></em> interessante sobre referências, porém, é como elas se comportam. Então, vamos em frente.</p>
