---
title:  "The Reference Reference"
layout: section
---



<p>Como mencionado anteriormente, existem alguns tipos de referências, e todos elas apontam para commits no seu repositório. A única diferença entre elas é como e quando elas se movem. (Quando eu digo que uma referência se move, eu quero dizer que o ID do commit para o qual ela aponta é atualizado.)</p>

<p><strong>Referências de branch locais</strong> são específicas de um único repositório: o seu repositório local. Comandos que afetam referências de branch local incluem <code class="inline">commit</code>, <code class="inline">merge</code>, <code class="inline">rebase</code>, e <code class="inline">reset</code>.
</p>

<p><strong>Referências de branch remotas</strong> também são específicas de um único repositório, mas de um que foi anteriormente definido como remoto. Comandos que afetam referências de branch remotas incluem <code class="inline">fetch</code> e <code class="inline">push</code>.
</p>

<p><em>(O comando <code class="inline">pull</code> é um caso especial: ele combina <code class="inline">fetch</code> com ou um <code class="inline">merge</code> ou um <code class="inline">rebase</code>, dependendo de como você configurou o Git.)</em></p>

<p><strong>Referências de tag</strong> são basicamente como referências de branch que nunca se movem. <strong>Depois que você cria uma tag, ela nunca vai mudar</strong> (a não ser que você explicitamente a altere usando a opção <code class="inline">--force</code>). Este comportamento as torna úteis para marcar versões específicas de um pacote de software, ou marcar exatamente o que foi publicado em um servidor de produção em uma data específica. No momento em que escrevo, eu sei de apenas um comando que afeta tags. Como você pode ter adivinhado, é <code class="inline">tag</code>.
</p>
