---
title:  "Example 2: Git for Ages 4 and Up"
layout: section
---



<p>Na sua palestra "Git para idades 4 e acima" (OSDC, 2010), o Michael Schwern usa brinquedos de montar para ensinar à audiência como o Git funciona.</p>

<p>Veja só a primeira sentença na descrição da apresentação <em>(ênfase adicionada)</em>:</p>

<blockquote>
  <p><em><strong>O Git faz muito mais sentido quando você entende como ele realmente funciona,</strong></em> porque na verdade é um mágico de dois truques só.</p>

  <p>Brinquedos de montar são a melhor ilustração de um repositório Git que eu encontrei. Ao mesmo tempo em que executamos comandos do Git, nós vamos construir um repositório Git a partir de brinquedos infantis mostrando o que está acontecendo por trás dos panos. Conceitos estranhíssimos como branch remoto, rebase e a área de staging se tornam brincadeira de criança.</p>

  <p>AVISO: PERIGO DE SUFOCAMENTO - Partes Pequenas. Proibido para Crianças Abaixo de 4 Anos.</p>
</blockquote>
