---
title:  "Example 1: Kent Beck"
layout: section
---



<img src="/think-like-a-git-dot-net-pt-br/assets/images2/kent_beck_tweet.jpg" class="no-shadow" />
<br>

<p><strong>Esse é um exemplo perfeito desse padrão.</strong> Parece impressionante, mas a não ser que você já saiba do que o autor está falando, isso não ajuda muito.</p>

<div class="wp-caption" style="text-align: left; padding: 5px;">
  Eu gosto deste tweet por outro motivo. Eu comprei e li vários dos livros do Kent, e achava que ele já sabia tudo sobre tudo. Quando eu vi isso, e percebi que eu tinha entendi algo antes dele, eu fiquei bem surpreso. E daí eu fiquei surpreso por ter ficado surpreso.
</div>
