---
title:  "Example 3: Homeomorphic Endofunctors"
layout: section
---



<img src="/think-like-a-git-dot-net-pt-br/assets/images2/homeomorphic_endofunctors.jpg" class="no-shadow" />
<br>

<h3>Não se preocupe. É uma brincadeira.</h3>

<p>(Pelo menos eu tenho quase certeza que é uma brincadeira. Na verdade eu não tenho esse conhecimento de matemática para saber se essa afirmação é real.)</p>
