---
title:  "Example 4: LSD and Chainsaws"
layout: section
---



<p>Esta daqui não segue bem o mesmo padrão, mas eu acho que ainda captura o tema geral de que o Git é poderoso e estranho, e deve ser objeto de meditação para que se alcance a iluminação:</p>

<blockquote>
  <p> E aí tem o <code class="inline">git rebase --interactive</code>, que é um pouco como <br /> <code class="inline">git commit --amend</code> dopado de ácido e segurando uma serra elétrica–completamente insano e bem perigoso mas capaz de expor estados da mente totalmente novos."</p>
</blockquote>

<p>-Ryan Tomayko, <a href="http://tomayko.com/writings/the-thing-about-git">The Thing About Git</a>, abril de 2008</p>
