---
title:  "Using 'git cherry-pick' to Simulate 'git rebase'"
layout: section
---



<p>Depois que você tem o <code class="inline">git cherry-pick</code> resolvido, você pode começar a pensar no <code class="inline">git rebase</code> como uma maneira mais rápida de fazer cherry-pick de todos os commits de um branch de uma vez, em vez de ter que digitar os seus IDs separadamente.</p>

<p><em>(Isso é apenas o início do que o rebase pode fazer, mas eu vou escrever o resto desta seção outra hora.)</em></p>

<p>Vamos voltar ao nosso exemplo, mas desta vez adicionar alguns branches...</p>

<div class="wp-caption">
  <img src="/think-like-a-git-dot-net-pt-br/assets/images2/before-rebase.png" class="no-shadow" />
</div>

<p>Agora, eu poderia digitar esta sequência de comandos:</p>

<code>
  
  git checkout foo<br />
  git checkout -b newbar<br />
  git cherry-pick C D E

</code>

<p>Nessa ordem, esses comandos:</p>

<ul class="full-size">
  <li>garantem que estamos em <strong>H</strong> <em>(porque 'foo' aponta para ele)</em>,</li>
  <li>criam <strong>e fazem o checkout</strong> de um branch temporário chamado "newbar", também apontando para <strong>H</strong>,</li>
  <li>aplicam as mudanças de <strong>C</strong>, <strong>D</strong>, e <strong>E</strong>, criando os novos commits <strong>C'</strong>, <strong>D'</strong>, e <strong>E'</strong>, e atualizam o branch "newbar" para que ele aponte para <strong>E'</strong>.</li>
</ul>

<p>O que me daria um repositório que pareceria com isso:</p>

<div class="wp-caption">
  <img src="/think-like-a-git-dot-net-pt-br/assets/images2/cherry-pick-qua-rebase-example-midpoint.png" class="no-shadow" />
</div>

<p>Então, eu poderia digitar isso:</p>

<code>
  
  git checkout bar <br />
  git reset --hard newbar <br />
  git branch -d newbar

</code>

<p>O que:</p>

<ul class="full-size">
  <li>Trocaria para o branch chamado "bar",</li>
  <li>Forçaria o ponteiro do branch "bar" para que ele apontasse para o mesmo local que o branch "newbar" (e, graças ao flag --hard, atualizaria o meu diretório de trabalho para ficar igual ao novo local), e</li>
  <li>Deletaria o branch temporário "newbar".</li>
</ul>

<p>E deixaria o meu repositório parecido com isso <em>(note que os vértices <strong>D</strong> e <strong>E</strong> originais não são mais alcançáveis, já que nenhum branch aponta para eles)</em>:</p>

<div class="wp-caption">
  <img src="/think-like-a-git-dot-net-pt-br/assets/images2/cherry-pick-qua-rebase-example-endpoint.png" class="no-shadow" />
</div>

<p><strong>Ou,</strong> eu poderia ter conseguido fazer tudo isso digitando o seguinte:</p>

<code>git rebase foo bar</code>

<p>Em outras palavras, 'git rebase' (nesta forma) é um atalho que permite que você pegue seções inteiras de um repositório e as mova para algum outro lugar.</p>
