---
title:  About the Author
layout: section
---



<p>Este site foi criado por Sam Livingston-Gray. Eu sou um desenvolvedor de software em Portland, Oregon. Você pode me contatar em <a mailto="geeksam@gmail.com">geeksam@gmail.com</a>.</p>

<p>Você vai achar mais informações no <a href="http://resume.livingston-gray.com">meu site currículo</a>, e no <a href="http://github.com/geeksam/">GitHub</a>, <a href="http://www.linkedin.com/pub/sam-livingston-gray/1/568/504">LinkedIn</a>, e <a href="https://twitter.com/geeksam/">Twitter</a>.</p>
