---
title:  What This Site Will Try to Teach You
layout: section
---



<p>Meu objetivo é oferecer <strong>uma estratégia simples para experimentar de maneira segura</strong> com alguns dos recursos que fazem o Git ser tão insanamente, fantasticamente útil.</p>

<p>Para fazer isso, eu primeiro preciso ter certeza que você sabe pelo menos um pouquinho de teoria dos grafos. <em><strong>Não se sinta intimidado com isso!</strong></em> Eu espero que você descubra, como eu, que a teoria dos grafos apenas te dá um local conveniente para pendurar vários conceitos com os quais você já está familiarizado.</p>

<p>Depois de apresentar a teoria dos grafos, eu mostrarei como ela se aplica ao Git, e vou compartilhar minha "epifania Git" com você.</p>

<p>Por último, vou explicar o padrão que eu uso até hoje ao trabalhar com repositórios Git.</p>
