---
title:  Who This Site Is For
layout: section
---



<p>"Iniciantes avançados" com Git. Você deve saber criar um repositório, adicionar e comitar arquivos, e você provavelmente tem uma ideia do porque você iria querer usar um branch.</p>

<p>Se você ainda não entende o motivo de usar software de controle de versão, então este site pode não ser muito útil para você. <strong>Eu recomendo que você explore por aí,</strong> mas se você não está conseguindo muita coisa, tente o meu <%= page_link 'resources', 'resources page' %> para alguma orientação, e considere voltar a este site mais tarde.</p>

<p>Por outro lado, se você já consegue fazer um <code class="inline">git rebase --interactive</code> sem piscar, você pode não aproveitar muito deste site. (Mas eu espero que ele ofereça uma estrutura para ajudar outros a aprender!) Eu recomendo que você olhe <%= page_link('resources') %>, e sugira quaisquer outros links que você ache que tenham lhe ajudado a chegar onde chegou.</p>
