---
title:  Why This Site?
layout: section
---



<p>Eu tenho usado Git desde meados de 2008. Eu gastei o primeiro ano batendo cabeça sem realmente entender o que eu estava fazendo. Em algum ponto, eu percebi algo que me ajudou a ficar muito mais confortável usando Git. E eu comecei a formalizar um padrão de interação com o Git que me permitou aumentar minha compreensão e confiança ao ao trabalhar com algumas das funcionalidades mais perigosas do Git.</p>

<p>Eu tentei ajudar outras pessoas a aprenderem a usar o Git, mas não deu muito certo. Um amigo meu me disse mais tarde que eu falei para ele alguma coisa como "todos os comandos do Git são simplesmente comandos de manipulação de grafos", mas isso não foi de muita ajuda na época.</p>

<p>Então, em abril de 2011, eu tentei resumir o que eu sabia em uma palestra de uma hora.</p>

<p>Isso começou como uma apresentação "Almoce e Aprenda" para os meus colegas de trabalho. Baseado no retorno positivo que eu tive, eu apresentei a palestra de novo no Portland BarCamp 2011 e no Cascadia RubyConf 2011.</p>

<p><em>(Tem um vídeo da palestra do Cascadia RubyConf no <a href="http://confreaks.net/videos/612-cascadiaruby2011-think-like-a-git">Confreaks</a>, mas não é muito bom—foi a primeira vez que eu falei numa conferência, e eu literalmente me apresentei depois de três minutos de preparação.)</em></p>

<p>Baseado no retorno positivo que eu tive com as duas palestras, eu quis transformar a apresentação numa série de vídeos... mas eu pensei que escrever seria um pouco mais fácil, e poderia ser mais acessível. (Eu gosto de vídeos para algumas coisas, mas eu também acho difícil encontrar tempo para assistí-los.) E aqui estamos: em junho de 2016, este site teve quase 400.000 visitantes únicos—o que é aproximadamente 399.990 a mais do que eu esperava!</p>
