<div class="fl wp-caption">
  <img src="/think-like-a-git-dot-net-pt-br/assets/images2/bridges_of_konigsberg-cropped.jpg" class="no-shadow" />
  <br /><strong>Mapa tradicional</strong>
</div>
<div class="fl wp-caption pad-left">
  <img src="/think-like-a-git-dot-net-pt-br/assets/images2/konigsberg-graph-unlabeled.png" class="no-shadow" />
  <br /><strong>Versão do Euler</strong>
</div>
<%= clearer %>
