---
title:  About This Site
layout: section
---



<p>Este site é organizado de uma forma razoavelmente linear<s>, com duas variantes</s>.</p>

<p>Cada página tem links na parte de baixo para as seções anterior e seguinte, então você pode ler o site do começo até o final. Se você descobrir que já está familiarizado com algum dos conceitos de uma seção, você pode usar a barra de navegação lateral para pular para páginas específicas.</p>

<p><em><strong>Viciados em teclado, vocês também podem navegar entre as páginas usando as teclas "N" e "P", respectivamente "próxima" e "anterior". Usuários do Vim podem ficar felizes de saber que as teclas "J" e "K" também funcionam como esperado.</strong></em></p>

<p>(Eu costumava ter uma página em "MODO ÉPICO" que punha quase todo o conteúdo em uma única página enorme, mas eu não consegui descobrir como replicar isso usando o <a href="https://middlemanapp.com/">Middleman</a>. Fique à vontade para entrar em contato comigo se você sabe como fazer isso.)</p>
