---
title:  "Experimenting With Git"
layout: section
---



<p>Eu disse algo realmente importante na página anterior. É tão importante que eu vou repetir.</p>

<p>Ao descrever o algoritmo de coleta de lixo do Git, eu disse, <strong>"Começando de cada branch e cada tag</strong>, o Git caminha de volta pelo grafo, construindo uma lista de cada commit que ele consegue alcançar." <em>(Ênfase adicionada.)</em></p>

<p>Tudo que eu escrevi até este ponto foi para te preparar para <strong>enteder esta única coisa.</strong> Se eu tivesse dez segundos para dizer O Segredo do Git—<em>o próprio motivo desde site</em>—eu posso espremer nessas quatro palavras:</p>

<h3>Referências tornam commits alcançáveis.</h3>

