---
title:  Git Makes More Sense When You Understand X
layout: section
---



<p>Como eu mencionei no <%= section_link('why-this-site', 'Why This Site?') %>, uma vez eu tentei ajudar um amigo a aprender Git dizendo algo que—ele me contou mais tarde—não foi muito útil. Quando eu soube isso, comecei a perceber esse padrão:</p>

<p><strong>As pessoas dizem coisas como "o Git faz mais sentido quando você entende [...]".</strong></p>

<p>Então eu fiz uma busca rápida no Google por essa frase em abril de 2011, e ela retornou mais de <strong>8 milhões de resultados</strong>. (Aqui,&nbsp;<a href="http://www.google.com/search?q=git+makes+more+sense+when+you+understand">tente você mesmo</a>.)</p>

<p>Eu peguei alguns exemplos desse padrão para um comentário rápido.</p>
