---
title:  "Graphs and Git"
layout: section
---



<p>O motivo de eu ter explicado um bom tanto sobre teoria dos grafos é que um repositório Git é um enorme grafo.</p>

<div class="fr wp-caption pad-left">
  <img src="/think-like-a-git-dot-net-pt-br/assets/images2/graphs-and-git.png" class="no-shadow" />
  <br /><strong>Commits do Git (visão simplificada)</strong>
</div>

<p>Na maior parte do tempo em que você interage com o Git, você está mexendo com commits de um jeito ou de outro. Num nível superficial, um commit do Git consiste de duas coisas: (1) um ponteiro para o estado do seu código num dado momento, e (2) zero ou mais ponteiros para commits "pai".</p>

<p><em>(Dica: a palavra "ponteiro" significa que provavelmente você está falando de um grafo.)</em></p>

<p><strong>Um commit do Git é um vértice num grafo</strong>, e cada um desses vértices pode apontar para outros vértices que vieram antes dele.</p>

<div class="wp-caption" style="text-align: left; padding: 5px;">
  Aliás: se você quer aprender mais sobre isto do que um humano normal deveria saber, eu recomendo fortemente o <a href="https://github.com/pluralsight/git-internals-pdf/releases">PDF "Git Internals"</a> do Scott Chacon. O conhecimento de Git do Scott é... impressionante.
</div>
