--- title: "Teoria dos Grafos" layout: section ---

<p><strong>[Se você já está confortável com teoria dos grafos, pule para <%= section_link('Reachability') %>.]</strong></p>

<p>Para uma introdução bem matemática a teoria dos grafos, <a href="http://en.wikipedia.org/wiki/Graph_theory">veja a Wikipedia</a>. Essa é uma definição bem curta que eles usam lá:</p>

<blockquote>
  <p>Um grafo é uma coleção de vértices e uma coleção de arestas que conectam pares de vértices.</p>
</blockquote>

<p>A teoria dos grafos pode ser usada para descrever um monte de coisas, mas eu vou começar com um dos exemplos mais diretos: mapas. Você pode pensar na teoria dos grafos como uma forma de codificar informação sobre dois aspectos de um mapa: <strong>lugares para ir, e meios de chegar até eles</strong>.</p>

<p>Vamos começar bem do começo, sim?</p>

<p><em>[Aliás: pensando em invenções humanas importantes, eu acho que a teoria dos grafos está bem do lado do bacon e da água encanada. Pode demorar um pouco para realmente entender, então <strong>se você perceber que está viajando nesta sessão, não se preocupe</strong>. Desde que a página sobre <%= section_link('reachability') %> faça sentido para você, você pode voltar e reler estas páginas mais tarde.]</em></p>
