---
title:  "Testing Out Merges"
layout: section
---



<p>Hoje em dia, eu crio branches por aí sem realmente pensar muito sobre isso. Mas nas primeiras vezes que eu tentei usar branches separados para implementar funcionalidades, eu estava um pouco nervoso. Se você está nessa situação, vou mostrar a seguir duas simples receitas que devem te ajudar a experimentar com <code class="inline">git merge</code> até que você entenda exatamente o que ele faz.</p>

<p>Eu montei duas pequenas variações da mesma operação. Ambas as técnicas basicamente fazem a mesma coisa, mas uma delas se baseia num comando Git com uma cara um pouquinho mais assustadora para o "desfazer".</p>

<p>Você pode preferir um ou outro dependendo de quão inseguro você está—seja sobre sua habilidade com o Git, seja sobre o merge específico que você vai tentar.</p>

<ul class="full-size">
  <li>
    Use <%= section_link('the Scout pattern') %> se você ainda não está certo sobre o que exatamente o <code class="inline">git merge</code> faz, ou se você acha provável que você decidirá desfazer o merge.
  </li>
  <li>
    Use <%= section_link 'the Savepoint pattern' %> se você tem quase certeza do que quer fazer, mas mesmo assim quer ter uma garantia caso as coisas fiquem muito complicadas.
  </li>
</ul>
