---
title:  "The End"
layout: section
---



<blockquote style="font-size: 1.1em; line-height: 1.2em;">Para onde nós vamos daqui? Para onde nós vamos daqui? A batalha terminou, e nós meio que ganhamos Então nós entoamos nosso canto de vitória Para onde nós vamos daqui?<br /> <strong>–Buffy a Caça Vampiros, "Once More, With Feeling"</strong>
</blockquote>

<p>Tecnicamente, isso não é o fim—isso é apenas o que escrevemos até agora. Eu espero que você tenha gostado de ler isso, e eu torço muito para que eu tenha conseguido te ajudar a aprender alguma coisa.</p>

<p><strong>Seu feedback é bem vindo!</strong> Sinta-se livre para me mandar um <a href="mailto:geeksam@gmail.com">email</a> ou um <a href="https://twitter.com/#!/geeksam">tweet</a> e me dizer o que você acha.</p>

<p>
  Feliz hacking! -Sam
</p>
