---
title:  "Branches as Savepoints"
layout: section
---



<p>Já que um branch do Git é apenas um arquivo de 40 bytes no disco, <strong>demora ordens de magnitude mais tempo para você dizer para o computador criar um branch </strong> (digitando <code class="inline">git branch foo</code>) <strong>do que leva para o seu computador realmente executar isso.</strong></p>

<p>E porque branches são referências, e <em>(diga junto comigo)</em> <%= section_link('References Make Commits Reachable') %>, <strong>criar um branch é uma forma de "pregar" uma parte do grafo</strong> para a qual você pode querer voltar mais tarde.</p>

<p>E porque nem <code class="inline">git merge</code> nem <code class="inline">git rebase</code> vão alterar os seus commits existentes (<%= section_link('garbage-collection', 'remember') %>, o ID de um commit é um hash do seu conteúdo <em><strong>e da sua história</strong></em>), você pode criar um branch temporário a qualquer momento que você queira tentar algo e esteja um pouco inseguro.</p>

<p>Em outras palavras, <strong>criar um branch antes de tentar um merge ou rebase é como salvar seu jogo antes da batalha com o chefão.</strong></p>
