---
title:  "My Humble Beginnings"
layout: section
---



<p>Quando eu comecei a usar o Git, eu era bem paranoico sobre perder código. O único <abbr title="Sistema de Controle de Versão">VCS</abbr> que eu já tinha usando antes era o Subversion, onde fazer branches é essa coisa misteriosa que causa todo tipo de problema. Então eu não tinha muita prática com merges -- muito menos rebasing, algo que todo mundo dizia ser bem perigoso. (Lembra <%= section_link('example-4-lsd-and-chainsaws', 'LSD and chainsaws') %>?)</p>

<p>Então, antes de tentar alguma coisa sobre a qual eu não tinha muita certeza, <strong>eu fazia um backup <em>do diretório inteiro.</em></strong></p>

<code>
  
  $ cd ..<br />
  $ cp -r work backup_work<br />
  $ cd work

</code>

<p>Daí eu faria o merge, ou rebase, ou qualquer outra coisa que eu achava que era complicada. Se parecesse que tinha funcionado, eu seguia em frente; se não, eu excluiria o diretório de trabalho, renomearia o antigo e tentaria alguma outra coisa.</p>

<p>Eu não tenho registros, mas eu tenho quase certeza que <strong>eu fiz assim pelo menos durante o primeiro ano de trabalho com o Git.</strong></p>

<p>Quando eu finalmente percebi que <%= section_link('references make commits reachable') %>, eu (a) me senti muito estúpido por todas as vezes que eu fiz backup do repositório, e (b) desenvolvi uma estratégia muito mais rápida para restaurar o meu repositório de volta para um estado conhecido.</p>
