---
title:  "References Make Commits Reachable"
layout: section
---



<p>Vamos desempacotar essa sentença.</p>

<h3>Referências...</h3>

<p>...sejam elas branches locais, branches remotos ou tags<em>(veja <%= section_link('the-reference-reference', 'here') %>)</em>...</p>

<h3>...tornam commits...</h3>

<p>...que são vértices em um grafo <em>(veja <%= section_link('graphs-and-git', 'here') %>)</em>...</p>

<h3>...alcançáveis.</h3>

<p>...de forma que você consiga voltar à elas <em>(veja <%= section_link('reachability', 'here') %>)</em>, e então o Git não vai excluí-los quando ele decidir que é hora de fazer uma faxina <em>(veja <%= section_link('garbage-collection', 'here') %>)</em>.</p>

<p>Eu levei um tempão para formar essa sentença por mim mesmo. Eu estou escrevendo este site para que você não tenha que perder o tempo que eu perdi.</p>
