---
title:  "Use Your Targeting Computer, Luke"
layout: section
---



<p>Eu uso o GitX em quase toda sessão de programação. O GitX se comporta como um navegador web em um aspecto muito importante: <strong>ele não vai refletir imediatamente as alterações no seu repositório</strong>—você terá que teclar <strong>Cmd+R</strong> para fazê-lo <strong>(R)</strong>ecarregar a sua visualização. <em>(Desde que eu escrevi isso, forks mais recentes do GitX adicionaram auto-recarregar. Eu sempre desligo.)</em></p>

<div class="fr wp-caption pad-left">
  <a href="http://store.xkcd.com/products/try-science"><img src="/think-like-a-git-dot-net-pt-br/assets/images2/xkcd-try-science.png" class="no-shadow" /></a>
  <br /><strong>É uma bela camiseta. Você sabe que quer uma.</strong>
</div>

<p>Você pode usar isso a seu favor. Eis como: <strong>quando você fizer algo na linha de comando,</strong> vá para o seu visualizador, mas <strong>não atualize ainda.</strong> Em vez disso, tente prever como o que você fez vai alterar a sua visualização. <em>(Você pode até tentar desenhar o grafo num rascunho.)</em> Então, atualize o visualizador e se pergunte: <strong>ele mudou do jeito que você esperava?</strong></p>

<p><strong>Se a resposta for SIM:</strong> Parabéns! Você acabou de aprender algo!</p>

<p><strong>Se a resposta for NÃO:</strong> Parabéns! Você está prestes a aprender algo!</p>

<p>Repita este processo algumas milhares de vezes, e alguma hora você não vai precisar olhar a visualização com tanta frequência. <em>(Para aqueles que gostam de filmes de ficção científica ruins, pense nisso menos como "Use a força, Luke" e mais como <strong>"Usul não precisa mais do módulo de estranhamento."</strong>)</em></p>
