---
title: Home
---



<h1>O Git não deveria ser tão difícil de aprender.</h1>

<p>Quando você ainda está começando, algo simples como um merge pode ser aterrorizante. Pode demorar um bom tempo para realmente se sentir confortável usando alguns dos recursos mais avançados do Git. <em>(Para mim levou um ano ou dois).</em></p>

<p>Assim que as pessoas atingem algum nível de <strong>iluminação Git</strong>, ela tendem a dizer coisas como 'o Git fica bem mais fácil quando você percebe X' -- mas isso não ajuda muito quem está no início da longa curva de aprendizado do Git.</p>

<p>Meu objetivo com este site é te ajudar, Querido Leitor, <strong>a entender do que esses caras estão falando</strong>.</p>

<p><%= section_link('about-this-site', "Let's get started, shall we?") %></p>
